doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/assets/favicon.png")
    link(rel="stylesheet", href="/assets/search.css")
    title search » aphrodite
  body
    form#search
      input(id= "text" name= "text" type= "text" onfocus= "this.select()" autocomplete= "off" autofocus)
      input(type= "submit" hidden)
    script.
      const APP = '!{ app }';
    script(src="/assets/search.js")
