
html, body
{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #555 0%, #000 100%);
    font-family: sans-serif;
}

form
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

form input
{
    font-size: 1.8rem;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
}
